doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title= title

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/jumbotron-narrow.css')
  body
    block content

    audio#tick
      source(src='/sounds/tick.mp3#t=,.7' type='audio/mpeg' preload='auto')
    audio#done
      source(src='/sounds/done.mp3#t=,2' type='audio/mpeg' preload='auto')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/nfl-data.js')
    script NFLData.USE_CACHED_PLAYER_DATA = #{USE_CACHED_PLAYER_DATA || false};
    script(src='/javascripts/transactions.js')
    script(src='/javascripts/teams.js')
    script(src='/javascripts/draftee.js')
